*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(252, 149, 89);
}

h1,h2{
    text-align: center;
    padding: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-decoration: underline;
}

p{
    text-align: center;
}

button{
    background-color: rgb(13, 155, 13);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: auto;
    margin-top: 3rem;
}
